# Serveur 1
server {
    listen 8080;
    server_name myserver.com;
    client_max_body_size 10M;

    # Pages d'erreur personnalisées
    error_page 404 /errors/404.html;
    error_page 500 /errors/500.html;
    error_page 403 /errors/403.html;

    # Répertoire racine
    root test_db/html;

    # Route /
    location / {
        index index.html;
        try_files $uri $uri/ =404;
        limit_except GET { deny all; }
    }

    # Route /upload
    location /upload {
        limit_except POST { deny all; }
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        include fastcgi_params;
        client_max_body_size 5M;
    }

}

# Serveur 2
server {
    listen 80;
    server_name mythirdserver.com;
    client_max_body_size 1M;

    error_page 404 /errors/404.html;
    error_page 500 /errors/500.html;

    root test_db;

    # Route /images
    location /images {
        autoindex on;
        limit_except GET { deny all; }
        default_type image/jpeg;
    }

    # Route /videos
    location /videos {
        autoindex on;
        limit_except GET { deny all; }
        default_type video/mp4;
    }

    # Route /upload/video
    location /upload/video {
        limit_except POST { deny all; }
        client_max_body_size 100M;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        include fastcgi_params;
    }
}

